.main {
    padding-top: 8%;
    width: 100%;
    /* background: black; */
}

.quote {
    text-align: center;
    padding: 2rem;
    margin: 10rem auto 5rem auto;
    width: 80%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px;
}

.q {
    font-size: 4rem;
}

.aboutus_container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 3rem 0;
    box-shadow: 10px 10px;
}

.aboutus {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.par {
    font-size: 2rem;
    width: 80%;
    text-align: justify;
    margin-bottom: 2rem;
}

.center_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.img_container {
    width: 45%;
    display: grid;
    grid-template-columns: repeat(2, minmax(150px, 1fr));
    grid-row: auto auto;
}


.img_cont {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}

.img {
    width: 100%;
    height: 100%;
    transition: 0.5s all ease-in-out;
}

.img_cont:hover .img {
    transform: scale(1.5);
}
.img_header{
    position: absolute;
    z-index: 2;
    color: black;
    bottom: 8%;
    right: 8%;
    font-size: 1rem;
    border: 1px solid black;
    padding: 0.5rem;
    border-radius: 10px;
    /* backdrop-filter: blur(10px); */
    background: white;
}

.img_cont1 {
    width: 45%;
    height: 100%;
}

.img1{
    width: 100%;
    height: 100%;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    margin-top: 4rem;
}

.card_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 10px 10px;
}

.spec_title {
    text-align: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px;
    margin-bottom: 2rem;
    padding: 2rem;
}

.aboutus1 {
    font-size: 4rem;
}

.card_img_container {
    width: 40%;
}

.card_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card_info {
    margin-left: 2rem;
    width: 60%;
    align-self: flex-start;
}

.card_header1 {
    font-size: 3rem;
}

.card_p {
    font-size: 1.5rem;
    text-align: justify;
}